.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
  }
  
  .dot.active {
    background: #003732;
  }